@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root {
    --bg-color: #ededed;
    --text-color: black;
    --main-color: black;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* ---------------------------------------------------------------------------------------------- */
/* Header navigator bar */
.navbar {
    position: fixed;
    width: 100%;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    background-image: url("https://wallpaperaccess.com/full/1159285.jpg");
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.brand-title {
    font-size: 1.5rem;
}

li {
    list-style: none;
}

.navbar-links ul {
    font-weight: 500;
    transition: .5s;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links ul a {
    text-decoration: none;
    color: black;
    padding: 1.5rem;
}
.navbar-links a:hover,
.navbar-links a.active {
    color: blue;
    transition: .5s;
    font-size: 1.2em;
}

.navbar-links2 ul {
    font-weight: 500;
    transition: .5s;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links2 li {
    list-style: none;
}
.navbar-links2 .login{
    margin-top: 5px;
}
.navbar-links2 ul a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}
.navbar-links2 :hover {
    color: blue;
}
.btnSign_up-popup {
    width: 100px;
    height: 40px;
    color: #3164F4;
    background: whitesmoke;
    border: 1px solid #3164F4;
    outline: #3164F4;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.1em;
    transition: .5s;
}
.btnSign_up-popup:hover {
    background: #3164F4;
    color: white;
    transform: scale(1);
}
/* Drop down menu bar */
.dropdown_menu li a {
    text-decoration: none;
    color: black;
}
.dropdown_menu li a:hover{
    color: black;
    width: 100%;
    transition: .1s;
    border-radius: 10px;
    outline: 1px solid black;
}
.dropdown_menu .btnSign_up-popup {
    background-color: transparent;
}
.dropdown_menu .btnSign_up-popup:hover {
    background-color: blue;
}
.dropdown_menu {
    text-align: center;
    display: none;
    position: absolute;
    right: 10px;
    top: 100px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 250px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .toggle_btn {
    color: grey;
    padding-right: 20px;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .navbar-links2 ul,
    .navbar-links ul{
        display: none; 
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
} 

@media (max-width: 576px) {
    .dropdown_menu {
        right: 1rem;
        left: 1rem;
        width: unset;
    }
} 

/* ---------------------------------------------------------------------------------------------- */

.Main-page {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 40px;
}
.Main-page .container-main {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    background-image: url('../images/housecopy.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    text-align: center;
    align-items: center;
}

.content-detail .heading-title {
    text-shadow: 0 1px 1px white;
    color: #1a235c;
    font-size: 4rem;
}
.container-main .content-detail {
    padding: 30px;
}
.content-detail .head-title {
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    color: white;
    font-size: 2rem;
}

.link-more .btnGet_Started-popup {
    padding: 8px;
    margin-right: 15px;
    color: white;
    background: blue;
    border:  1px solid blue;
    outline: blue;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s;
}
.link-more .btnGet_Started-popup:hover {
    background: transparent;
    color: blue;
}

/* See how it works button */
.link-more .btnSee_how_it_works-popup{
    padding: 8px;
    color: black;
    background: transparent;
    border: 1px solid black;
    outline: black;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s;
}
.link-more .btnSee_how_it_works-popup:hover {
    background: black;
    color: white;
}


.Main-page .Second-page {
    padding: 15px 9%;
    text-align: start;
    align-items: center;
}
.Second-page .sec-pic {
    padding-top: 270px;
    padding-bottom: 300px;
    width: 100%;
    height: auto;
    background-image: url('../images/home2_copy2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
}
.Second-page .sec-pic .sec-detail {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    padding: 5px 15%;
    padding-top: 10%;
}
.sec-pic .sec-detail h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
}
.sec-pic .sec-title p {
    padding-top: 70px;
}
.info .btnTry-it-out-popup {
    position: absolute;
    margin-top: 30px;
    padding: 9px;
    color: white;
    background: orange;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.1em;
    transition: .5s;
    background-size: cover;
}
.info .btnTry-it-out-popup:hover {
    background: transparent;
    color: orange;
    border:  1px solid orange;
}
.sec-detail .sec-detail-pic{
    background-image: url('../images/MovingPic.jpg');
    border-radius: 10px;
    background-size: cover;
    width: 100%;
}
@media (max-width: 1100px) {
    .sec-detail-pic{
        display: none;
    }
}

.Main-page .Third-page {
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
    grid-gap: 20px;
}

.grid-item1 {
    border-radius: 200px 200px 200px 200px;
    padding: 10px;
    background-color: #f9f9f9;
}
.grid-item2 {
    border-radius: 200px 200px 200px 200px;
    padding: 10px;
    background-color: #f9f9f9;
}
.third-detail h2 {
    padding-top: 50px;
}
.third-detail-2 p{
    padding-bottom: 50px;
}
.Third-page .third-detail img {
    border-radius: 100px 100px 100px 100px;
    width: 100%;
    height: auto;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
}
.Third-page .third-detail-2 img {
    border-radius: 100px 100px 100px 100px;
    width: 100%;
    height: auto;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
}

.Fourth-page {
    padding: 15px 9%;
    text-align: center;
    align-items: center;
}
.review {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 10px;
}
.review .review-box {
    margin: 55px;
    padding: 30px 0 40px 0;
    background-color: white;
    border-radius: 7px;
}
/* ---------------------------------------------------------------------------------------------- */
/* Footer-link */
.Footer {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    padding-right: 25%;
    gap: 15px;
    background-image: url("https://wallpaperaccess.com/full/1159285.jpg");
    background-repeat: no-repeat;
    background-size: 260vh;
    background-color: transparent;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: black;
}
.Footer-title {
    margin-left: 20%;
}
.brand-title {
    font-size: 2.5rem;
    margin: .5rem;
}
.footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-link .ul {
    justify-content: space-between;
}
.footer-link li {
    list-style: none;
}
.footer-link li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}
.footer-link li a:hover {
    color: white;
    background-color: #555;
    border-radius: 7px;
}